@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);

    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

:root {
    --primary-button: #53d8d8;
    --secondary-button: #f99757;
}

* {
    font-family: "Roboto", sans-serif;
}

.console_info_wr {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
}

.company_card {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

a.edit-button {
    left: 10px;
    position: relative;
    padding: 5px 10px;
    border-radius: 5px 5px 0px 0px;
    color: var(--secondary-button);
}

.company_card_right {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    min-width: 100px;
}

.console_info {
    position: relative;
    width: 33%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 10px;
    font-size: 2vh !important;
    min-width: 200px;
}

/* Main page - login  */
.border-indigo-400 {
    border-color: #ffb837;
    border-bottom-width: 4px;
}

.main-svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.main-svg circle {
    fill: none;
    stroke-width: 0px;
    stroke: #fafafa;
    stroke-dasharray: 1400;
    stroke-dashoffset: 1400;
    opacity: 0;
    -webkit-animation: 4s circle-outline forwards;
    animation: 4s circle-outline forwards;
}

.main-svg path {
    fill: none;
    stroke: #fafafa;
    stroke-width: 4px;
    stroke-dasharray: 990;
    stroke-dashoffset: 200;
    opacity: 0;
    -webkit-animation: 4s text-outline forwards;
    animation: 4s text-outline forwards;
}

@-webkit-keyframes circle-outline {
    from {
        opacity: 0;
        stroke-dashoffset: 2800;
    }
    to {
        opacity: 1;
        stroke-dashoffset: 0;
    }
}

@keyframes circle-outline {
    from {
        opacity: 0;
        stroke-dashoffset: 2800;
    }
    to {
        opacity: 1;
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes text-outline {
    from {
        opacity: 0;
        stroke-dashoffset: 1200;
    }
    to {
        opacity: 1;
        stroke-dashoffset: 0;
    }
}

@keyframes text-outline {
    from {
        opacity: 0;
        stroke-dashoffset: 1200;
    }
    to {
        opacity: 1;
        stroke-dashoffset: 0;
    }
}

.main_bg {
    background-image: linear-gradient(90deg, var(--primary-button), #ece3e2);
    background-image: -moz-linear-gradient(
        90deg,
        var(--primary-button),
        #ece3e2
    );
    background-image: -o-linear-gradient(90deg, var(--primary-button), #ece3e2);
    background-image: -webkit-linear-gradient(
        90deg,
        var(--primary-button),
        #ece3e2
    );
}

.hide {
    opacity: 0;
    height: 0;
}

.show {
    opacity: 1;
}

.hide,
.show,
.auth-card {
    transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
}

.login-wr {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.auth-card {
    max-width: 60rem !important;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 370px;

    animation: fadeInDown 2s forwards;
}

.logo-wr svg {
    margin: auto;
}

.leftc,
.rightc {
    max-width: 500px;
    min-width: 300px;
    padding: 0 20px;
}

.horline {
    color: gray;
    background-color: gray;
    height: 2px;
}

.message-wr {
    position: relative;
}

.main-message {
    font-size: 4vh;
    height: 60px;
    position: relative;
}

.main-message::before {
    content: "";
    animation: animate 5s infinite;
    animation-delay: 0.5s;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animate {
    0% {
        content: "WELCOME TO AMC";
        opacity: 0;

        position: relative;
    }

    100% {
        content: "WELCOME TO AMC";
        opacity: 1;

        position: relative;
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

#login_form {
    width: 100%;
}

.form-title {
    text-align: center;
    width: 100%;
    font-weight: 600;
    padding: 10px 0;
}

.home-button {
    padding: 10px 20px;
    background: #ffb837;
    color: white;
    border-radius: 10px;
    margin: 15px;
}

.signup-buttons {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    max-width: 200px;
}

.switch-button {
    background-color: var(--primary-button);
    margin: 0;
}

.secondary_message {
    padding: 10px 0;
}

.secondary_message,
.signup-text {
    position: relative;
    margin: 0 0;

    display: flex;
}

.signup-text {
    margin: 5px 0;
}

@media (max-width: 784px) {
    div.login-wr {
        margin-top: 50px;
    }
}

/* END Main page - login  */

/* Main menu */

.main-menu {
    position: sticky;
    top: 0px;
    z-index: 99;
}
/* END Main menu */

/* Glass effect */

.glass-effect {
    background: #f9f9f980;
    backdrop-filter: blur(7px);
    box-shadow: 3px 4px 7px #0003;
    border-radius: 0px 0px 17px 17px;
}

button.switch-button {
    background-color: var(--primary-button);
}

.submit-button {
    background-color: var(--secondary-button);
}
button {
    height: 40px;
}
/* END Glass effect */

/*  */

/* icons */

.fab {
    font-size: 30px;
}

/* END icons */

/* Custom input */

.custom-file-input {
    padding: 10px;
    width: 150px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: "Select a new image";
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.custom-file-input:hover::before {
    border-color: black;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.form-inputs {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* END Custom input */
